<%= form_for @concert, html: { class: "form-horizontal" }, role: "form", url: @url do |f| %>
    <% if @concert.errors.any? %>
        <div class="alert alert-danger">
            <ul>
            <% @concert.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :id %>
    <div class="control-group">
        <%= f.label :title, class: "control-label" %>
        <div class="controls">
            <%= f.text_field :title %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :open_at, class: "control-label" %>
        <div class="controls">
            <%= f.datetime_select :open_at, use_month_numbers: true, class: "form-control" %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :start_at, class: "control-label" %>
        <div class="controls">
            <%= f.datetime_select :start_at, use_month_numbers: true, class: "form-control" %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :place, class: "control-label" %>
        <div class="controls">
            <%= f.text_field :place, class: "form-control" %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :note, class: "control-label" %>
        <div class="controls">
            <%= f.text_area :note, class: "form-control" %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.submit class: 'btn btn-primary' %>
        <%= render "layouts/footer" %>
    </div>
<% end %>
