<%= form_for @concert, html: { class: "form-horizontal" }, role: "form", url: @url do |f| %>
    <% if @concert.errors.any? %>
        <div class="alert alert-danger">
            <ul>
            <% @concert.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :id %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :open_at %>
        <%= f.datetime_select :open_at, use_month_numbers: true %>
    </div>
    <div class="form-group">
        <%= f.label :start_at %>
        <%= f.datetime_select :start_at, use_month_numbers: true %>
    </div>
    <div class="form-group">
        <%= f.label :place %>
        <%= f.text_field :place %>
    </div>
    <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
