%section.resume-section.p-3.p-lg-5.d-flex.flex-column
  %h2 Live

  - if @concerts.count == 0
    .subheading.mb-5
      ライブ情報がありません。
  - else
    - @concerts.each do |c|
      .card.mb-3
        .card-body
          %string.d-inline-block.mb-2.text-primary
            = c.start_at.strftime("%Y-%m-%d (%a)")
          %h3.mb-0
            = link_to c, class: "text-dark" do
              = c.title
          %p.card-text
            = c.place
            = " / "
            = c.open_at.strftime("%H:%M") + " OPEN"
            = " / "
            = c.start_at.strftime("%H:%M") + " START"

          .mb-0
            .btn-group
              - if c.active?
                = link_to new_concert_reservation_path(c), class: "btn btn-xs btn-outline-secondary" do
                  %i.fa.fa-calendar
                  予約はこちら
              - if signed_in?
                = link_to edit_concert_path(c), class: "btn btn-xs btn-outline-secondary" do
                  %i.fa.fa-edit
                = link_to c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-outline-danger" do
                  %i.fa.fa-trash
                = link_to concert_reservations_path(c), class: "btn btn-xs btn-outline-secondary" do
                  %i.fa.fa-list

  - if signed_in?
    .actions
      = link_to 'New', new_concert_path, class: "btn btn-primary"