:coffee
  @initMap = ->
    geo = 
      lat: parseFloat "#{@concert.latitude}"
      lng: parseFloat "#{@concert.longitude}"
    map = new (google.maps.Map)($("#map")[0],
      zoom: 15
      center: geo)
    transitLayer = new (google.maps.TransitLayer)
    transitLayer.setMap map
    marker = new (google.maps.Marker)(
      position: geo
      map: map)
    return

%section.resume-section.p-3.p-lg-5.d-flex.flex-column
  %h2 Live詳細
  %h4 Live名
  .detail.mb-3= @concert.title

  %h4 日程
  .detail.mb-3
    = @concert.open_at.strftime("%Y-%m-%d (%a)")
    = " / "
    = @concert.open_at.strftime("%H:%M") + " OPEN"
    = " / "
    = @concert.start_at.strftime("%H:%M") + " START"

  %h4 場所
  .detail.mb-3
    = @concert.place
    = " / "
    = @concert.address

  .detail.mb-3
    #map

  %h4 備考
  .detail.mb-3= @concert.note.gsub(/\R/, "<br>").html_safe

  .actions
    = link_to '戻る', concerts_path, class: "btn btn-secondary"

%script{ src: "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}&callback=initMap", async: "", defer: ""}