<div class="fieldset">
    <dl>
        <dt class="label label-info">ライブ名</dt>
        <dd><pre class="prettyprint"><%= @concert.title %></pre></dd>
        <dt class="label label-info">開催日</dt>
        <dd>
            <pre class="prettyprint"><%= @concert.start_at.strftime("%Y-%m-%d(%a)") %> OPEN：<%= @concert.open_at.strftime("%H:%M〜") %> START：<%= @concert.start_at.strftime("%H:%M〜") %></pre>
        </dd>
        <dt class="label label-info">場所</dt>
        <dd><pre class="prettyprint"><%= @concert.place %></pre></dd>
        <dt class="label label-info">備考</dt>
        <dd><pre class="prettyprint"><%= @concert.note %></pre></dd>
    </dl>
</div>
<%= render "layouts/footer" %>