<%= form_for @reservation, html: { class: "form-horizontal" }, role: "form", url: @url do |f| %>
    <% if @reservation.errors.any? %>
        <div class="alert alert-danger">
            <ul>
            <% @reservation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :id %>
    <%= f.hidden_field :concert_id %>

    <div class="control-group">コンサート名：<%= @reservation.concert.title %></div>

    <div class="control-group">
        <%= f.label :name, class: "control-label" %>
        <div class="controls">
            <%= f.text_field :name %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :mail, class: "control-label" %>
        <div class="controls">
            <%= f.text_field :mail %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :ticket, class: "control-label" %>
        <div class="controls">
            <%= f.number_field :ticket %>
        </div>
    </div>

    <div class="form-actions">
        <%= f.submit class: 'btn btn-primary' %>
        <%= render "layouts/footer" %>
    </div>
<% end %>
