!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "shuntaro", :name => "author"}/
    %title Portal264
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all'
    %link{href: "https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i", rel: "stylesheet"}
    %link{href: "https://unpkg.com/jpncss@latest/dist/bootstrap/jpn.min.css", rel: "stylesheet"}

    = javascript_include_tag 'application'

    %body#page-top
      %nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
        %a.navbar-brand.js-scroll-trigger{:href => "/"}
          %span.d-block.d-lg-none Portal264
          %span.d-none.d-lg-block
            = image_tag 'profile.jpg', alt: '', height: '', width: '', class: 'img-fluid img-profile rounded-circle mx-auto mb-2'
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item
              = link_to('News', news_path, :class => "nav-link js-scroll-trigger")
            %li.nav-item
              = link_to('Live', concerts_path, :class => "nav-link js-scroll-trigger")
            %li.nav-item
              = link_to('Video', video_path, :class => "nav-link js-scroll-trigger")
            %li.nav-item
              = link_to('Contact', contact_path, :class => "nav-link js-scroll-trigger")
            - if user_signed_in?
              %li.nav-item
                = link_to('Logout', destroy_user_session_path, method: :delete, :class => "nav-link js-scroll-trigger", id: "nav-login")

      .container-fluid.p-0
        = yield

      - if !alert.nil?
        :javascript
          notifyDanger(#{raw alert.to_json});

      - if !notice.nil?
        :javascript
          notifyInfo(#{raw notice.to_json});